@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi:ital@1&display=swap');

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

input {
    color: white;
    padding: 18px;
    outline: none;
    font-size: 28px;
    font-family: 'Tiro Devanagari Marathi', serif;
    border-radius: 25%;
}

.num{
    width: 64px;
    height: 67px;
}

.text{
    width: 160px;
    height: 26px;
    border-radius: 22px;
    letter-spacing: 6px;
    text-align: center;
    margin-bottom: 13px;
}

.text1{
    width: 23px;
    height: 26px;
    border-radius: 50%;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 12px;
    cursor: pointer;
}

.main{
    display: inline-block;
    color: #808080;
}

.maincolor{
    background-color: black;
}

.blue {
    background-color: #696969;
}

.pin{
    background-color: #696969;
}

.gre{
    background-color: #696969;
}

.pur{
    background-color: #696969;
}

.ora{
    background-color: #696969;
}
